* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top,#dbdbd2 86%, #009688 86%);
  display: flex;
  font-family: 'Lato', sans-serif;
}

.container-app {
  min-width: 800px;
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
}

i:hover {
  cursor: pointer;
}
/* /general */
/* contenitore sinistro */
.contatti {
  width: 40%;
  height: 100%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
}
/* utente */
.utente {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
}

.utente img {
  width: 50px;
  height: 80%;
  border-radius: 50%;
  margin: 0px 10px;
}

.nome-utente {
  width: calc(100% - 150px);
}

.option-ut {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-ut i {
  margin: 0px 10px;
  color: #B1B1B1;
}
/* /utente */

/* notifiche */
.notifiche {
  height: 60px;
  width: 100%;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}

.notifiche h4,
.notifiche a {
  font-size: 12px;
}

.campanella {
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px 20px;
  display: flex;
}

.campanella i {
  margin: auto;
  color: #8EDAFC;
  font-size: 20px;
}

.campanella a {
  color: #6191A7;
}
/* /notifiche */
/* ricerca */
.cont-serch {
  height: 40px;
  width: 100%;
  padding: 5px;
  color: #EAEAEA;
  background-color: #F3EEEA;

}

.serch {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.serch i {
  margin: 0 20px;
  cursor: inherit;
}

.serch input {
  width: calc(100% - 46px);
  border: none;
}

input:focus {
  outline: none;
}
/* /ricerca */
/* contatti */
.utenti {
  height: calc(100% - 160px);
  width: 100%;
  overflow: auto;
}

.contatto {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
}

.contatto img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px 20px;
}
/* /contatti */
/* /contenitore sinistro */
/* contenitore destro */

.conversazione {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.conv-top {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
}
/* conversazione */
.conv-center {
  width: 100%;
  height: calc(100% - 100px);
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
}

.mess-utente {
  min-width: 40%;
  max-width: 50%;
  background-color: #D5F9BA;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.mess-contatto {
  min-width: 40%;
  max-width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
/* /conversazione */
/* input-mess */
.conv-bot {
  width: 100%;
  height: 40px;
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
  padding: 5px;
}

.conv-bot i {
  margin: 0 20px;
  color: #6B7376;
}

.conv-bot input {
  border: none;
  width: calc(100% - 90px);
  height: 100%;
  border-radius: 5px;
  padding: 5px;
}
/* /input-mess */
/* /contenitore destro */

/* classi da utilizzare */
.contatto.ut-select {
  background-color: #EAEAEA;
}



/* verde sfondo #009688
grigio sfondo #DBDBD2
azzurro notifiche #8EDAFC
grigio icone in alto #B1B1B1
grigio icone in basso #6B7376
grigino sfondo contenitore headers #EAEAEA
grigino sfonfo contenitore input #F3EEEA
verde messaggi inviati #D5F9BA */
