* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top,#dbdbd2 86%, #009688 86%);
  display: flex;
  font-family: 'Lato', sans-serif;
}

.container-app {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
}
/* /general */
/* contenitore sinistro */
.contatti {
  width: 40%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
}
/* utente */
.utente {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
}

img {
  background-color: red;
  width: 50px;
  height: 80%;
  border-radius: 50%;
  margin: 0px 10px;
}

.nome-utente {
  width: calc(100% - 150px);
}

.option-ut {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-ut i {
  margin: 0px 10px;
  color: #B1B1B1;
}
/* /utente */

.notifiche {
  height: 60px;
  width: 100%;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}

.serch {
  height: 40px;
  width: 100%;
  background-color: brown;

}

.utenti {
  height: calc(100% - 160px);
  width: 100%;
  background-color: orange;
}

/* notifiche */
.campanella {
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 10px;
  display: flex;
}

.campanella i {
  margin: auto;
  color: #8EDAFC;
  font-size: 20px;
}

.campanella a {
  color: #6191A7;
}
/* /notifiche */
/* /contenitore sinistro */
/* contenitore destro */

.conversazione {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.conv-top {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
}

.conv-center {
  width: 100%;
  height: calc(100% - 120px);
  background-image: url(../img/mine.jpg);
}

.conv-bot {
  width: 100%;
  height: 60px;
  background-color: #F3EEEA;
}
/* /contenitore destro */
/* verde sfondo #009688
grigio sfondo #DBDBD2
azzurro notifiche #8EDAFC
grigio icone in alto #B1B1B1
grigio icone in basso #6B7376
grigino sfondo contenitore headers #EAEAEA
grigino sfonfo contenitore input #F3EEEA
verde messaggi inviati #D5F9BA */
