<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <title>vue-boolzapp</title>
</head>
<body>
  <!-- container -->
  <div id="app" class="container-app">
    <!-- app left -->
    <div class="contatti">
      <!-- utente -->
      <div class="utente">
        <img src="img/avatar_io.jpg" alt="foto-profilo" class="avatar">
        <div class="nome-utente">
          <h3>Nicolas</h3>
        </div>
        <div class="option-ut">
          <i class="icone_azione__icone fas fa-circle-notch"></i>
          <i class="icone_azione__icone fas fa-comment-alt"></i>
          <i class="icone_azione__icone fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- /utente -->
      <!-- notifiche -->
      <div class="notifiche">
        <div class="campanella">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div>
          <h4>Ricevi notifiche di nuovi messaggi</h4>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>
      <!-- /notifiche -->
      <!-- search -->
      <div class="cont-serch">
        <div class="serch">
          <i class="fas fa-search"></i>
          <input @keyup="cerca" type="text" v-model="ricerca" placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <!-- /search -->
      <!-- lista contatti -->
      <div class="utenti">
        <div class="contatto" v-show="item.visible" :class="i == indexcont ? 'ut-select' : ''" v-for="(item,i) in contacts" @click="seleziona(i)">
          <img :src="'img/avatar' + item.avatar +'.jpg'" alt="'foto-profilo' + item.name">
          <h3>{{item.name}}</h3>
        </div>

      </div>
      <!-- /lista contatti -->
    </div>
    <!-- /app left -->
    <!-- app right -->
    <div class="conversazione">
      <!-- id contatto -->
      <div class="conv-top utente">
        <img :src="'img/avatar' + contacts[indexcont].avatar +'.jpg'" alt="foto-profilo" class="avatar">
        <div class="nome-utente">
          <h3>{{contacts[indexcont].name}}</h3>
          <p>Ultimo accesso oggi alle</p>
        </div>
        <div class="option-ut">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="icone_azione__icone fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- /id contatto -->
      <!-- conversazione -->
      <div class="conv-center">
        <!-- mess -->
        <div  class="messaggio" :class="item.status" v-for="(item,i) in contacts[indexcont].messages">
          <i @click="openOption(item,i)" class="fas fa-chevron-down"></i>
            <ul v-show="item.showOption" class="option">
              <li>Info messaggio</li>
              <li @click="deletMess(i)">Cancella messaggio</li>
            </ul>
          <p>
            {{item.message}}
            <span>{{item.date}}</span>
          </p>
        </div>
        <!-- /mess -->
        <div class="emoticons" v-if="clickEmoticon">
          <div class="emoticon" v-for="emoticon in emoticons" @click="addEmoticon(emoticon)">
            {{emoticon}}
          </div>
        </div>
      </div>
      <!-- /conversazione -->
      <!-- input-mess -->
      <div class="conv-bot">
          <i class="far fa-smile" @click="showEmoticon"></i>
          <input @keydown.13="inviomess" type="text" v-model="newmess" placeholder="Scrivi un messaggio" @click="clickEmoticon = false">
          <i class="fas fa-microphone"></i>
      </div>
      <!-- /input-mess -->
    </div>
    <!-- /app right -->
  </div>
  <!-- /container -->
  <script src="script/script.js" charset="utf-8"></script>
</body>
</html>
