<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <title>vue-boolzapp</title>
</head>
<body>
  <div id="app" class="container-app">
    <div class="contatti">
      <div class="utente">
        <img src="img/avatar_io.jpg" alt="foto-profilo" class="avatar">
        <div class="nome-utente">
          <h3>Marlena</h3>
        </div>
        <div class="option-ut">
          <i class="icone_azione__icone fas fa-circle-notch"></i>
          <i class="icone_azione__icone fas fa-comment-alt"></i>
          <i class="icone_azione__icone fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="notifiche">
        <div class="campanella">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div>
          <h4>Ricevi notifiche di nuovi messaggi</h4>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>
      <div class="cont-serch">
        <div class="serch">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <div class="utenti">
        <div class="contatto " v-for="(item,i) in contacts" @click="seleziona">
          <img :src="'img/avatar' + item.avatar +'.jpg'" alt="foto-profilo item.name">
          <h3>{{item.name}}</h3>
        </div>

      </div>
    </div>
    <div class="conversazione">
      <div class="conv-top utente">
        <img src="img/avatar_1.jpg" alt="foto-profilo" class="avatar">
        <div class="nome-utente">
          <h3>{{contacts[0].name}}</h3>
          <p>Ultimo accesso oggi alle</p>
        </div>
        <div class="option-ut">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="icone_azione__icone fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="conv-center">

        <div :class="" v-for="(item,i) in contacts">
          <p>
            <span class="date">10/01/2020 15:50:00</span>
          </p>
        </div>

      </div>
      <div class="conv-bot">
          <i class="far fa-smile"></i>
          <input type="text" v-model="newmess" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>
      </div>
    </div>
  </div>
  <script src="script/script.js" charset="utf-8"></script>
</body>
</html>
